/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
} */


/* Responsive layout for mobile devices */
@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    ul {
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
        text-align: center;
    }
}