* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

/* variables */
:root {
    --primary-color: #E02C6D;
    --dark-color: #3A3A3A;
}


/* shared styles */
ion-icon {
    font-size: 1.5rem;
}






/* nav related styles */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 1rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul > li {
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
    color: var(--dark-colors);
    font-weight: 600;
}